<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active current" routerLink="/favorite">Favorite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/posts">Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/posts/:user">Posts</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pipes">Pipes</a>
    </li>
  </ul>

</nav>

<router-outlet></router-outlet>

<!-- <app-favorite [isFavorite] = "post.isFavorite"></app-favorite> <br>
<app-servers></app-servers>
<contact-form></contact-form>
<singnup-form></singnup-form>

<app-post></app-post> -->
<!-- <div app-servers></div> -->
<!-- <div class="app-servers"></div> -->